$WHITE: #ffffff;
$HEADER_BACKGROUND: #393a3a;
$FORM_BACKGROUND: #573b35;
$ACTIVE_TAB_COLOR: #2b2928;
$BUTTON_COLOR: #ff2600;
$FORM_BACKGROUND_LIGHT: #975d4e;
$FORM_BACKGROUND_DARK: #2d2928;
$GREY: #333333;
$LIGHT_GREY: #aba9a9;